{% extends "base_generic.html" %}
{% block content %}
<h1>My Borrowed Books</h1>
<ul>
    {% for bookinst in bookinst_list %}
        <li>
            <h2>{{ bookinst.book.title }}</h2>
            <p>Borrower: {{ bookinst.borrower}}</p>
            <p class="{% if bookinst.is_overdue %}text-danger{% endif %}">Due date: {{ bookinst.due_back }}</p>
            <form action="{% url 'mark-book-as-read' bookinst.pk %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Mark as Read" />
            </form>
        </li>
    {% empty %}
        <li>No borrowed books.</li>
    {% endfor %}
</ul>
{% endblock %}
